:root {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Fira Mono", monospace;
  user-select: none;
}
body {
  background: #212121;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #c8c8c8;
  display: flex;
  flex-direction: column;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 100%;
  background: rgba(33, 33, 33, 0.92);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 12px #000000;
  z-index: 2;
}

.navButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background: #4f4f4f;
  color: #c8c8c8;
  border: 1px solid #3c3c3c;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 20px #00000050;
  margin: 1rem 0;
}

#btn1 {
  margin-top: 8vh;
}
#btn4 {
  margin-top: auto;
  margin-bottom: 8vh;
}

#tickers-menu {
  font-size: 0.8rem;
  position: absolute;
  background-color: #212121;
  border-radius: 12px;
  padding: 0.6rem;
  color: #c8c8c8;
  border: 1px solid #3c3c3c;
  left: 101%;
  top: 3rem;
  box-shadow: 5px 0 10px #00000050;
  height: 70vh;
}
#ticker-table {
  border-collapse: collapse;
  width: 100%;
  text-align: right;
}
#ticker-table tbody tr {
  border-bottom: 1px solid #3c3c3c;
}
#ticker-table tbody tr:last-child {
  border-bottom: none;
}
#ticker-table thead {
  position: sticky;
  top: 0;
  background-color: #4f4f4f;
  color: #c8c8c8;
}
#ticker-table th,
#ticker-table td {
  padding: 0.3rem 1.5rem;
}
#ticker-search {
  border-radius: 4px;
  padding: 0.3rem;
  background-color: #4f4f4f;
  color: #c8c8c8;
  border: none;
}
#tickers-menu-header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6rem;
  background-color: #212121;
}
#tickers-update-btn {
  background-color: #212121;
  border: none;
}
#tickers-update {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#tickers-update-info {
  font-size: 0.6rem;
  letter-spacing: 0.06rem;
  color: #c8c8c8;
  word-spacing: -0.12rem;
  opacity: 0.8;
}
#tickers-update-btn {
  cursor: pointer;
  padding-top: 0.25rem;
}
#tickers-update-btn:disabled {
  cursor: default;
  opacity: 0.5;
}
#tickers-update-btn:hover .nav-icon path {
  fill: #ffffff;
}
#tickers-update-btn:active {
  transform: scale(0.95);
}
#table-container {
  height: calc(100% - 30px);
  overflow-y: auto;
}
.table-row {
  box-sizing: border-box;
  cursor: pointer;
  transition: border-left 150ms ease;
  border-left: 1px solid transparent;
}
.table-row:hover {
  border-left: 1px solid #c8c8c8;
  color: rgba(220, 220, 220);
}
.table-row:active {
  border-left: 1px solid #ffffff;
  transform: scale(0.99);
}
.settingsMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #212121;
  border-radius: 12px;
  padding: 1.2rem;
  color: #c8c8c8;
  border: 1px solid #3c3c3c;
  left: 101%;
  bottom: 5%;
  box-shadow: 5px 0 10px #00000050;
}
.settingsItem {
  display: flex;
  align-items: center;
  gap: 10px;
}
#ticksize-select {
  width: 5rem;
  height: 2rem;
  background-color: #4f4f4f;
  font-size: 1rem;
  color: #c8c8c8;
  border: 1px solid #3c3c3c;
  border-radius: 8px;
  outline: none;
  box-shadow: 0 0 20px #00000050;
}
.navButton .nav-icon {
  transition: height 150ms ease, width 150ms ease;
}
.navButton:hover {
  background: #c8c8c8;
  color: #212121;
}
.navButton:hover .nav-icon path {
  fill: #212121;
}
.navButton:hover .nav-icon {
  height: 1.2rem;
  width: 1.2rem;
}
.navButton:active {
  transform: scale(0.95);
}
.navButton.active {
  background: #c8c8c8;
  color: #212121;
}

.navButton.active .nav-icon path {
  fill: #212121;
}

.navButton.active .nav-icon {
  height: 1.2rem;
  width: 1.2rem;
}
.hidden-row {
  display: none;
}
#top-nav button {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  color: #c8c8c8;
  cursor: pointer;
}
#top-nav button.disabled {
  color: #99999960;
}
#top-nav button.disabled svg path {
  fill: #99999960;
}
#chart-settings {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

#indicators {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
  gap: 0.4rem;
  padding-left: 6vw;
  position: relative;
  padding-right: 0.5vw;
}

#indicators::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #3c3c3c;
}
#ticker-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: 49%;
  font-size: 1.2rem;
  color: rgb(220, 220, 220);
}
#crosshair-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 88%;
  position: absolute;
  font-size: 1.2rem;
}
#timeframes button {
  padding: 0px;
}
#top-nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #3c3c3c;
  font-size: 0.8rem;
  height: 3rem;
  width: 100%;
}
#chart-container {
  flex: 1;
  position: relative;
  display: flex;
}

#left-wrapper,
#right-wrapper {
  position: relative;
  height: 100%;
}

#left-wrapper {
  width: 88%;
  border-right: 1px solid #3c3c3c;
}

#right-wrapper {
  width: 12%;
}

#canvas-main,
#canvas-depth,
#canvas-indi-2,
#canvas-indi-1 {
  position: absolute;
  width: 100%;
}

#canvas-main,
#canvas-depth {
  height: 80%;
}

#canvas-indi-1,
#canvas-indi-2 {
  height: 10%;
  top: 80%;
}
#canvas-bubble {
  position: absolute;
  width: 100%;
  top: 80%;
  height: 20%;
}

#canvas-indi-2 {
  top: 90%;
}

#canvas-indi-1 {
  border-top: 1px solid #3c3c3c;
}

#canvas-main:active {
  cursor: grabbing;
}
.loading-animation {
  animation: spin 750ms ease-in-out infinite;
  z-index: -1;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
